@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background: #171c24;
    position: fixed;
    width: 100%;
}

.wrapper nav {
    position: relative;
    z-index: 9999;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 30px;
    display: flex;
}

.content .logo a {
    color: #def2f1;
    font-size: 28px;
    /* text-shadow: 0 0 40px #fff; */
    font-weight: 600;
}

.content .links li {
    list-style: none;
    line-height: 70px;
}

.content .links li a,
.content .links li label {
    margin: 0 1px;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 9px 27px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li label {
    display: none;
}

.content .links li a.active {
    color: #00bfa6;
    /* font-weight: ; */
    background: #8dfff016;
}

.content .links li a:hover {
    color: #00bfa6;
    /* font-weight: ; */
    background: #8dfff016;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    color: #00bfa6;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #171c24;
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #f2f2f2;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}

/* Dropdown Menu code start */
.content .links ul {
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px !important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content .links {
        margin-left: 30px;
    }

    .content .links li a {
        padding: 8px 13px;
    }

    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }

    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}


@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 0 10px;
    }

    .content .logo a {
        font-size: 27px;
    }

    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }

    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }

    .wrapper .search-box input {
        padding-right: 30px;
    }
}

.mainClass {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 40px;
}

.mainClass .common {
    /* background-color: red; */
    height: 117.4%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.mainClass .image {
    /* background: yellow; */
    margin: auto 0;
    height: 50vh;
    /* background-color: cyan; */
}

.mainClass .image img {
    width: 100%;
    height: 100%;
}

.info {
    flex-direction: column;
    gap: 2rem;
}

.mainClass .info h1 {
    font-size: 46px;
    /* background-color: red; */
}

.mainClass .info p {
    line-height: 32px;
    font-size: 18px;
}

.change {
    color: #00bfa6;
}

.mainClass .info div {
    /* background-color: cyan; */
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    gap: 2rem;
}

.mainClass .info div a {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.4s ease;
    background: rgb(51, 51, 51);
}

.mainClass .info div a:nth-child(2) {
    background: none;
    color: #00bfa6;
    border: 2px solid #00bfa6;
}

.mainClass .info div a:hover {
    background: #00bfa6;
    color: white;
    box-shadow: 0 0 10px #00bfa6;
}

*::selection {
    background: #b1b1b134;
    color: black;
}

.genHeight {
    min-height: 100vh;
}

#modal {
    /* background-color: red; */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    position: absolute;
    top: 0%;
    left: 50%;
    width: 95vw;
    border-radius: 10px;
    padding: 30px;
    transform: translate(-50%, 50%);
    height: auto;
}

* {
    scroll-behavior: smooth;
}

.commonDiv {
    height: auto;
    padding: 40px 0;
}

.commonDiv h1 {
    margin: 30px 0;
    text-align: center;
    /* background-color: #00bfa6; */
    /* background: linear-gradient(130deg,#F43AE2,#ffffff3b,#7756EF); */
    /* background: linear-gradient(130deg,#00bfa6,#73c9ff); */
    background: linear-gradient(130deg, #42e695, #3bb2b8);
    padding: 20px 0;
    /* width: 100%; */
}

.split {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
}

.split div p {
    margin-bottom: 20px;
}

.more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.more p {
    /* padding: 10px 200px; */
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

li {
    line-height: 40px;
}

#forCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    gap: 4rem;
}

#forCards .card {
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.13);
    border-radius: 14px;
    padding: 0 0px 20px 0px;
    height: min-content;
}

#forCards .card h3:nth-child(n) {
    background: linear-gradient(130deg, #42e695, #3bb2b8);
    text-align: center;
    padding: 20px;
    /* background: linear-gradient(130deg,#F43AE2,#ffffff3b,#7756EF); */
    border-radius: 14px 14px 0 0;
    color: black;
    /* background: #00bfa6; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.13); */
    margin: 0px 0 40px 0;
}

#forCards .card p {
    line-height: 30px;
    padding: 0 30px;
}

#gototop {
    position: fixed;
    top: 95%;
    left: 97%;
    transform: translate(-50%, -50%);
    /* border: 2px solid red; */
    background: #00bfa6;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    width: 40px;
}

.addedCard {
    font-size: 30px;
    float: right;
}

#present {
    padding: 10px 50px;
}

#presentContent {
    padding: 30px 0;
}

#presentContent div {
    height: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#presentContent div p:nth-child(1) {
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    align-items: center;
}

#presentContent div p:nth-child(2) {
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-start;
    /* padding: 0 40px; */
    font-weight: 600;
    align-items: center;
}

.genMary {
    margin: 30px 0 10px 0;
}

#libsuberes div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    gap: 3rem;
}

#libsuberes div a {
    margin: 0 auto;
    background-color: rgb(237, 237, 237);
    padding: 10px 30px;
    transition: 0.4s ease;
    color: black;
    font-weight: 600;
    border-radius: 10px;
}

#libsuberes div a:hover {
    background: #00bfa6;
    color: white;
}

#libnews div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    gap: 3rem;
}

#libnews div a {
    margin: 0 auto;
    background-color: rgb(237, 237, 237);
    padding: 10px 30px;
    transition: 0.4s ease;
    color: black;
    font-weight: 600;
    border-radius: 10px;
}

#libnews div a:hover {
    background: #00bfa6;
    color: white;
}



#libcol div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    gap: 3rem;
}

#libcol div a {
    margin: 0 auto;
    background-color: rgb(237, 237, 237);
    padding: 10px 30px;
    transition: 0.4s ease;
    color: black;
    font-weight: 600;
    border-radius: 10px;
}

#libcol div a:hover {
    background: #00bfa6;
    color: white;
}

#libprre div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    gap: 3rem;
}

#libprre div a {
    margin: 0 auto;
    background-color: rgb(237, 237, 237);
    padding: 10px 30px;
    transition: 0.4s ease;
    color: black;
    font-weight: 600;
    border-radius: 10px;
}

#libprre div a:hover {
    background: #00bfa6;
    color: white;
}





#libtim div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    gap: 3rem;
}

#libtim div a {
    margin: 0 auto;
    background-color: rgb(237, 237, 237);
    padding: 10px 30px;
    transition: 0.4s ease;
    color: black;
    font-weight: 600;
    border-radius: 10px;
}

#libtim div a:hover {
    background: #00bfa6;
    color: white;
}



.activeh {
    position: absolute;
    margin: 0 auto;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: red;
}

.activeh p {
    position: relative;
    padding: 30px;
    margin: 0 auto;
    background-color: yellow;
    width: 50vw;
}

#libcom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#libcom h1 {
    width: 100%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 15px;
}

.styled-table td:nth-child(1) {
    padding: 0 40px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

@media screen and (max-width: 1428px) {
    .wrapper .menu-icon {
        display: block;
    }

    .content .logo a {
        font-size: 25px;
    }

    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }

    nav #show-menu:checked~.content .links {
        left: 0%;
    }

    .content .links li {
        margin: 15px 20px;
    }

    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 15px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }

    .content .links li a.desktop-link {
        display: none;
    }

    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }

    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
        max-height: 100vh;
    }

    .content .links ul li {
        margin: 7px 20px;
    }

    .content .links ul li a {
        font-size: 15px;
        line-height: 30px;
        border-radius: 5px !important;
    }


    .mainClass {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 160px;
    }

    .mainClass .info h1 {
        font-size: 30px;
        text-align: center;
    }

    .mainClass .info p {
        margin: 0 auto;
        text-align: justify;
    }

    .mainClass .info div {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 0 auto;
    }

    #modal {

        top: -20%;
        position: absolute;
        height: auto;
        /* z-index: -1; */
        width: 94vw;
    }

    .commonDiv h1 {
        font-size: 20px;
        padding: 10px 30px;
    }

    .split {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #forCards {
        grid-template-columns: 1fr;
    }

    #libsuberes div {
        grid-template-columns: repeat(2, 1fr);
    }

    #libnews div {
        grid-template-columns: repeat(2, 1fr);
    }

    #libcol div {
        grid-template-columns: repeat(2, 1fr);
    }

    #libprre div {
        grid-template-columns: repeat(2, 1fr);
    }

    #libtim div {
        grid-template-columns: repeat(2, 1fr);
    }

    .more {
        grid-template-columns: 1fr;
    }

    .more p {
        /* padding: 10px 200px; */
        /* margin: 0 auto; */
        width: 80%;
        padding: 10px;
    }

    #gototop {
        left: 95%;
    }
}


@media screen and (max-width: 380px) {

    .content .logo a {
        font-size: 20px;
    }

    .mainClass .info p {
        font-size: 15px;
    }

    .mainClass .info div a {
        font-size: 10px;
    }

    #gototop {
        left: 90%;
    }

    .content .links li a,
    .content .links li label {
        line-height: 10px;
        font-size: 10px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }

    .content .links ul li a {
        font-size: 10px;
        line-height: 30px;
        border-radius: 5px !important;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px;
        font-size: 0.8em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        font-size: 10px;
        text-align: center;
    }

    .styled-table th,
    .styled-table td {
        width: 2vw;
        font-size: 10px;
        padding: 10px 0;
    }
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 90%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    #present {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }

    #present hr {
        display: none;
    }

    #presentContent div {
        height: auto;
        /* gap: 2rem; */
        grid-template-columns: 1fr;
    }

    #presentContent div p:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        padding: 0 40px;
        align-items: center;
    }

    #presentContent div p:nth-child(2) {
        /* border: 2px solid black; */
        padding: 0 40px;
        display: flex;
        margin-bottom: 30px;
        justify-content: flex-start;
        /* padding: 0 40px; */
        font-weight: 600;
        align-items: center;
    }
}
